
<div class="cadre1">

<!-- Footer Links -->
<div class="footer">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">

        <!-- Content -->
      <!-- <h5 class="text-uppercase">Footer Content</h5>--> 
        <p jhiTranslate="footer.texte1">Merci d'avoir visité mon site CV. Mon profil vous interesse ? Vous pouvez me contacter via la page dédiée. </p>
        <p jhiTranslate="footer.texte2">Je me tiens à votre disposition pour de plus amples renseignements.
            Tout commentaires ou remarques concernant ma page sont égalements bienvenus ! </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 jhiTranslate="footer.liens" class="text-uppercase">Me suivre :</h5>
                <ul class="list-unstyled">
                    <a href="https://www.linkedin.com/in/kilian-henry/" class="logo-lk" target="_blank">
                    </a>
                </ul>
      
              </div>
              <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 jhiTranslate="footer.coordonées" class="text-uppercase">Coordonées</h5>
          <ul class="list-unstyled">
            <li>
                <div class="media">
                    <div class="media-left">
                        <fa-icon icon="phone"></fa-icon>
                    </div>
                    <div class="media-body">
                        &emsp; 06.18.18.07.59
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <fa-icon icon="envelope"></fa-icon>
                    </div>
                    <div class="media-body">
                        &emsp; kilian.henry.pro@gmail.com
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <fa-icon icon="user"></fa-icon>
                    </div>
                    <div class="media-body">
                        <a href="contact" jhiTranslate="footer.contact">Contact</a>
                    </div>
                </div>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 mb-md-0 mb-3">

                        <h5 jhiTranslate="footer.telecharger" class="text-uppercase">Télécharger mon CV</h5>
                                <a href="../../../content/images/kilianhenrycv.pdf" class="img-cv" target="_blank"></a>
                        

                
                          </div>
                          <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> <span jhiTranslate="footer.droits"> Kilian HENRY - 2020 - Tous droits réservés</span>
    <br>
    <a [routerLink]="['/mention']" jhiTranslate="footer.mention">Mentions légales</a>
    </div>
 
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
