<div class="col-md-9">
    <h2 class="titrepage2" jhiTranslate="CV.titrecv">Curriculum vitae</h2>
</div>    

<div class="centrer">
    <h3 class="titrepara3" jhiTranslate="CV.chrono">Chronologie</h3>
</div>
<br>



<div class="centrer">
<span jhiTranslate="CV.ADN.detail">Passer le curseur sur chaque expérience pour avoir le détail</span>
</div>

<br>

<div class="centrer">
    <span class="DNATIME"> </span>
</div>

<diV class="centrer">

<div class="bac">
    <span class="person person-text">
        <span class="name">
            BAC STAV
        </span>
        <div class="hovercard">
            <div class="hovercard-container">
                <div class="hovercard-box">									
                    <div class="hovercard-body">
                        <span class="cvposte" jhiTranslate="CV.1.l1">BAC Technologique "Sciences et Techniques de l'Agronomie et du Vivant"</span>
                        <br>
                        <span class="cvposte" jhiTranslate="CV.1.l2"> Option "Transformation Alimentaire"</span>
                        <br>
                        <span class="cvent"> Lycée agricole d'Yvetot (76)</span>
                        <br>
                        <span class="cvdat" jhiTranslate="CV.1.l3"> 2009 - 2013 (4 ans)</span>
                        <br><br>
                        <span class="cvsstitre">Description : </span>
                        <br>
                        <span class="cvtex" jhiTranslate="CV.1.l4">Interessé depuis mon enfance par le monde agricole et suite à mon stage découverte de troisième au sein d'une ferme,
                            j'ai décider d'effectuer mon baccalaureat dans ce milieu. L'option "transformation alimentaire" proposée par le lycée a attiré ma curiosité,
                            et les enseignements dispensés ainsi que les nombreux travaux pratiques d'une filière technologique m'ont convaincu de poursuivre dans ce domaine. 
                            Ce fut aussi l'opportunité d'approcher le monde professionnel par la réalisation de 5 semaines de stages ouvriers.  
                        </span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</diV>


<diV class="centrer">
<div class="stage1">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.4">
            Stage
        </span>
        <div class="hovercard2">
            <div class="hovercard-container2">
                <div class="hovercard-box2">									
                    <div class="hovercard-body2">
                        <span class="cvposte" jhiTranslate="CV.2.l1">Stage en entreprise</span><br>
                        <span class="cvposte" jhiTranslate="CV.2.l2">Sujet : Quelles sont les différences de fabrication entre deux types de fromages (fromage blanc et Neufchâtel) ?</span><br>
                        <span class="cvent"> La ferme du Beau Soleil - Nointot (76) / Exploitation du lycée agricole de Bremontier-Merval - Bremontier-Merval (76)</span><br>
                        <span class="cvdat" jhiTranslate="CV.2.l3">Respectivement 3 semaines et 2 semaines</span><br>
                        <br>
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.2.l4"> La problématique de ce stage était de comparer les différences de fabrication entre deux produits
                            avec l'appelation "fromage". Pour ce faire, j'ai participer a la fabrication sur deux sites différents afin d'étudier
                         les process propres à chacuns. </span>.<br>
                        
                         <br>
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                        <span class="cvtex" jhiTranslate="CV.2.l5">Analyse et rédaction de process de fabrication propres à chaques produits</span><br>
                        <span class="cvtex" jhiTranslate="CV.2.l6">Fabrications de produits laitier (crème, fromage blanc, coeur de Neufchâtel) et cidricole (jus de pommes, cidre, Calvados)</span><br>
                        <span class="cvtex" jhiTranslate="CV.2.l7">Préparation de repas pour le restaurant de la ferme du Beau Soleil</span><br>
                        <span class="cvtex" jhiTranslate="CV.2.l8">Emballage, mise en bouteille et étiquettage des produits</span><br><br>
                        
       <!--                 <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span><br>
                        <span class="cvtex" jhiTranslate="CV.2.l9"> Premiere réelle experience dans le monde de l'entreprise, ce fut pour moi l'occasion d'apprendre sur le terrain
                            avec des gens passionés par leurs métiers.  -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</diV>

<diV class="centrer">
<div class="bts">
    <span class="person person-text">
        <span class="name">
            BTS STA
        </span>
        <div class="hovercard3">
            <div class="hovercard-container3">
                <div class="hovercard-box3">									
                    <div class="hovercard-body3">
                        <span class="cvposte" jhiTranslate="CV.3.l1">BTS Sciences et Technologies des Aliments</span><br>
                        <span class="cvent"> Lycée agricole d'Yvetot (76)</span><br>
                        <span class="cvdat" jhiTranslate="CV.3.l2"> 2013 - 2015 (2 ans)</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.3.l3">  Souhaitant developper mes acquis dans le secteur de la transformation agroalimentaire, j'ai decider de poursuivre avec 
                            un BTS "Sciences et Technologies des Aliments". C'est au cours de ces deux années d'études et grâce, d'une part à un module "Innovation", et 
                            d'autre part grâce au stage de 3 mois effectué dans une entreprise produisant de la confiture sur la recherche d'une méthode de conservation des pommes épluchées
                            pour prévenir le brunissement enzymatique, qu'est né en moi une réelle passion pour la recherche et le developpement. 
                        </span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="stage2">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.4">
            Stage ouvrier
        </span>
        <div class="hovercard4">
            <div class="hovercard-container4">
                <div class="hovercard-box4">									
                    <div class="hovercard-body4">
                        <span class="cvposte" jhiTranslate="CV.4.l1">Stage entreprise </span><br>
                        <span class="cvent"> Chocolats HAUTOT - Fecamp (76)</span><br>
                        <span class="cvdat" jhiTranslate="CV.4.l2">2 semaines</span><br><br>
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.4.l3"> Stage purement ouvrier au sein d'une chocolaterie de luxe. </span><br><br>
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                        <span class="cvtex" jhiTranslate="CV.4.l4">Fabrication de chocolats</span><br>
                        <span class="cvtex" jhiTranslate="CV.4.l5">Contrôle qualité des produits en sortie de ligne</span><br>
                        <span class="cvtex" jhiTranslate="CV.4.l6">Encadrement de stagiaires</span><br><br>
        <!--                <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span><br>
                        <span class="cvtex" jhiTranslate="CV.4.l7"> Ces deux semaines d'experiences supplémentaires m'ont permis de travailler au sein d'une petite équipe
                            de gens experimentés et possedant un savoir faire reconnu à l'international, sur une categorie de produits que je n'avais
                            alors pas eu l'occasion d'approcher.  -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="stage3">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.4">
            Stage en entreprise
        </span>
        <div class="hovercard5">
            <div class="hovercard-container5">
                <div class="hovercard-box5">									
                    <div class="hovercard-body5">
                        <span class="cvposte" jhiTranslate="CV.5.l1">Stage en entreprise</span><br>
                        <span class="cvposte" jhiTranslate="CV.5.l2">Recherche d'une methode de conservation des pommes épluchées contre le brunissement enzymatique</span><br>
                        <span class="cvent"> Confiture Dolique - Villequier (76)</span><br>
                        <span class="cvdat" jhiTranslate="CV.5.l3"> Juin / juillet 2014 - Mars 2015</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.5.l4">L'epluchage des pommes étant une étape nécessitant un temps de preparation de nettoyage et desinfection de la machin conséquent,
                            il est préférable d'en éplucher la quantité la plus importante possible. Cependant, les pommes épluchées étant soumises au brunissement enzymatiques
                             présentent des qualités organoléptiques dégradées. Ma mission principale était donc de trouver une méthode de conservation permettant la preservation 
                             des pommes.</span><br><br>
                        
                       
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                        <span class="cvtex" jhiTranslate="CV.5.l5">Réalisation de bibliographie sur les méthodes de conservation de pommes épluchés</span><br>
                        <span class="cvtex" jhiTranslate="CV.5.l6">Recherche et contact de fournisseurs de materiels et matières premieres</span><br>
                        <span class="cvtex" jhiTranslate="CV.5.l7">Mise au point d'un plan d'experience et analyse des resultats des diverses méthodes</span><br>
                        <span class="cvtex" jhiTranslate="CV.5.l8">Création d'un tableur excel evolutif permettant la comparaison des tarifs des différents fournisseurs de matières premières</span><br>
                        <span class="cvtex" jhiTranslate="CV.5.l9">Transformation et conditionnement de confitures, gelée et chutney</span><br>
                        <br>
      <!--                  <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span> <br>
                        <span class="cvtex" jhiTranslate="CV.5.l10"> Parmis les méthodes proposées et testées 
                            (Mise sous vide ou sous atmosphere modifiée, surgélation, blanchiment, et utilisation d'additifs tels que l'acide ascorbique et les sulfites),
                            c'est la mise sous vide qui à été retenue en tenant compte du résultat, du coût de la méthode et de la qualité du produit final. Le classeur excel 
                            de comaparaisons de fournisseurs est également en place au sein de l'entreprise.
                            Ce stage a donc été l'occasion d'appréhender concretement le domaine de la recherche et du developpement en tenant compte de la réalité des entreprises
                            et des différents verrous inhérents (image du produit, coût, facilité de mise en oeuvre...) -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="lp">
    <span class="person person-text">
        <span class="name" >
            Licence PRO FODIPA
        </span>
        <div class="hovercard6">
            <div class="hovercard-container6">
                <div class="hovercard-box6">									
                    <div class="hovercard-body6">
                        <span class="cvposte" jhiTranslate="CV.6.l1">Licence professionnelle "FODIPA"</span> <br>
                        <span class="cvposte">"Formulation et Developpement Industriel de Produits Alimentaire"</span><br>
                        <span class="cvent"> Université des Sciences et Techniques du Havre - Le Havre (76) / CFA d'Yvetot - Yvetot (76)</span><br>
                        <span class="cvdat" jhiTranslate="CV.6.l2"> 2015 - 2016 (1 an)</span><br><br>
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.6.l3"> 
                         Afin de me spécialiser dans le domaine "R&D", j'ai suivi une licence professionnelle FODIPA dans l'optique de renforcer mes 
                        connaissances dans le domaine agroalimentaire et de developper la méthodologie propre à la recherche. Les nombreux travaux pratiques
                        ainsi que le stage de 3 mois ont également contribués à accroitre mes compétences techniques.
                        </span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="stage4">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.4">
            Stage en entreprise
        </span>
        <div class="hovercard7">
            <div class="hovercard-container7">
                <div class="hovercard-box7">									
                    <div class="hovercard-body7">
                        <span class="cvposte" jhiTranslate="CV.7.l1">Stage en entreprise</span><br>
                        <span class="cvposte" jhiTranslate="CV.7.l2">Réalisation d'un dossier de demande d'agrément sanitaire</span><br>
                        <span class="cvent"> GAEC Leroux - Le panier de Léonie - Cauxville sur mer (76)</span><br>
                        <span class="cvdat" jhiTranslate="CV.7.l3">De Juin à Septembre 2016 (stage de 3 mois), et Juillet-Aout 2017 (contrat étudiant de 2 mois)</span><br>
                        <br>
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l4"> Dans un cadre légal et présentant un avantage économique non négligeable, 
                            ma mission au "Panier de Léonie" consistait en la réalisation d'un dossier de demande d'agrément sanitaire.
                             Pour la réalisation de ce dernier, et avec l'aide de l'A.D.V.P.L.H.N, j'ai analysé tout les postes de transformation 
                             ainsi que les flux pour réaliser les documents légaux (HACCP, diagramme de fabrication, affiches GBPH...),
                             tout en assurant la transformation des produits laitiers sur site et la livraison des commandes. </span>.<br><br>
                        
                       
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l5">Analyse des risques liés à la transformation alimentaire pour l’élaboration de la méthode « Hazard Analysis Critical Control Point » (HACCP)</span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l11">Création de fiches de « Bonnes pratiques d’hygiènes » consultables sur site</span><br>
                        <span class="cvtex"jhiTranslate="CV.7.l6">Listing de flux et stockage des matières premières et produits finis, et réalisation de diagramme de fabrication pour chaque produit transformé.</span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l7">Responsable des échanges avec l’A.D.V.P.L.H.N pour la réalisation du dossier de demande d’agrément sanitaire</span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l8">Mise en place d’un système de traçabilité des produits pour établir les procédures de retrait/rappel</span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l9">Production et transformation de glaces et sorbet, produits laitiers (fromage blanc, beurre, creme...)</span><br>
                        <span class="cvtex" jhiTranslate="CV.7.l10">Livraison des denrées alimentaires aux différents clients (restaurants, GMS...)</span><br>
                        <br>
                        <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span><br>
       <!--                 <span class="cvtex" jhiTranslate="CV.7.l12">Tout les documents nécessaire à la réalisation du dossier de demande d'agrément sanitaire ont étés réalisés 
                            sur la durée du stage. Le dossier à été mis en forme et transmis à l'A.D.V.P.L.H.N pour évaluation. Lors de mon retour en 2017,
                            les travaux sur les locaux étaient en cours afin de pouvoir soumettre et valider le dossier. Cela fut l'occasion de mettre le savoir
                            acquis au cours de mon parcours scolaire en application pour le developpement d'une entreprise, et ainsi d'apporter un regard neuf au 
                            sein d'une structure possédant une ambiance propice à l'épanouissement professionnel. -->
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="master">
    <span class="person person-text">
        <span class="name">
            Master NSA 
        </span>
        <div class="hovercard8">
            <div class="hovercard-container8">
                <div class="hovercard-box8">									
                    <div class="hovercard-body8">
                        <span class="cvposte" jhiTranslate="CV.9.l1">Master "Nutrition et Sciences des Aliments"</span><br>
                        <span class="cvposte" jhiTranslate="CV.9.l2">Parcours "Innovation en Biotechnologies Végétales, Enymatiques, et Microbiologiques"</span><br>
                        <span class="cvent"> Université des Sciences et Techniques de Lille - Lille (59) </span><br>
                        <span class="cvdat" jhiTranslate="CV.9.l3"> 2017- 2019 (2 ans)</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.9.l4"> Ce Master recherche "Nutrition et Sciences des Aliments", parcours "Innovation en Biotechnologies Végétales, Enymatiques et Microbiologiques"
                            représente l'aboutissement de mon cursus universitaire. Il m'a permit de developper mes connaissances dans les domaines de l'agroalimentaire, de la biologie 
                            et de la recherche et developpement. Durant ces deux années, j'ai pu acquerir, par le biais de travaux pratiques ainsi que le projet de recherche,
                             une méthodologie de travail propre au monde de la recherche.
                        </span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="livreur">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.5">
            Livreur
        </span>
        <div class="hovercard9">
            <div class="hovercard-container9">
                <div class="hovercard-box9">									
                    <div class="hovercard-body9">
                        <span class="cvposte" jhiTranslate="CV.10.l1">Livreur polyvalent</span><br>
                        <span class="cvent">Eat Sushi - Villeneuve d'Ascq (59)</span><br>
                        <span class="cvdat" jhiTranslate="CV.10.l2">De Décembre 2017 à Janvier 2020 (2 ans)</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l3"> Travail étudiant en tant que livreur polyvalent sur le secteur de Lille (dans un rayon de 10km), en deux-roues et voiture</span><br>
                        <br>
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l4">Livraison de denrées alimentaires dans le respect des délais et des régles d'hygiènes</span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l5">Préparation des sacs de commandes</span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l6">Formation des nouveaux arrivants</span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l7">Rangement et organisation de la réserve</span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l8">Dressage de la salle et plonge</span><br><br>

        <!--                <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span><br>
                        <span class="cvtex" jhiTranslate="CV.10.l9"> Ce travail m'a énormement apporté vis à vis du relationnel client et du travail en équipe.
                                             Le respect des délais dans la livraison des denrées imposait parfois de devoir travailler sous pression, et une polyvalence était 
                                             requise du fait des nombreuses tâches à effectuées. -->
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="projet">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.6">
            Projet de recherche
        </span>
        <div class="hovercard10">
            <div class="hovercard-container10">
                <div class="hovercard-box10">									
                    <div class="hovercard-body10">
                        <span class="cvposte" jhiTranslate="CV.11.l1">Projet de recherche</span><br>
                        <span class="cvposte" jhiTranslate="CV.11.l2">Exploration et mise au point de la méthode de mutation CRISPR-Cas9 sur <span class ="cvpara">Paraburkholderia rhizoxinica</span>. Application à l’interruption de gènes de NRPS.</span><br>
                        <span class="cvent">Institut Charles Viollette - Lille (59)</span><br>
                        <span class="cvdat" jhiTranslate="CV.11.l3">De Janvier à Juin 2019 (6 mois)</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l4"> Effectué sous l'encadrement du Dr Valérie LECLERE et Dr Matthieu DUBAN, ce projet de recherche consistait en la réalisation des élements permettant l'interruption de trois gênes cibles NRPS ("Non Ribosomal Peptide Synthethase")
                             Pour ce faire, il a fallu utiliser les outils de la biologie moléculaire (PCR, transformation...), de la bioinformatique (Logiciel d'analyse de gel, de visualisation du génome bacterien...) et de la microbiologe (culture de la bactérie).</span><br>
                             <br>
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l5">Importation de la méthode CRISPR-Cas9 et développement des outils de mutation pour bactéries GRAM négatif</span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l6">Etude génomique de Paraburkholderia rhizoxinica et design d’amorces spécifiques</span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l7">Mise en œuvre et optimisation de protocoles de biologie moléculaire</span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l8">Utilisation de logiciels bioinformatiques pour la simulation et l’interprétation de résultats d’expériences.</span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l9">Réalisation de recherches bibliographiques spécifiques au NRPS</span><br>
                        <br>
   <!--                     <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span><br>
                        <span class="cvtex" jhiTranslate="CV.11.l10">Tout les outils de biologies moléculaires ont étés réalisés pour permettre la mutation des gènes cibles.
                            Cependant, les conditions de culture extrement difficiles (la bactérie étant initiallement endosymbiotique d'un champignon) ainsi que le temps de generation ne
                            m'ont pas permis de mener a terme la transformation de cette dernière sur la durée du projet. Le cadre pluridisciplinaire ainsi que les nombreux
                         échanges que j'ai pu avoir avec des scientifiques de tout horizons m'ont fournit un cadre riche et propice à l'apprentissage mon épanouissement professionnel.
                         De plus, ce fut pour moi l'occasion d'apporter ma contribution à la science. -->
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="java">
    <span class="person person-text">
        <span class="name">
            JAVA/JEE Big Data
        </span>
        <div class="hovercard11">
            <div class="hovercard-container11">
                <div class="hovercard-box11">									
                    <div class="hovercard-body11">
                        <span class="cvposte" jhiTranslate="CV.12.l1">Formation JAVA/JEE Big Data</span><br>
                        <span class="cvent"> INTI Formation - Lomme (59)</span><br>
                        <span class="cvdat" jhiTranslate="CV.12.l2">De Septembre 2019 à Janvier 2019 (4 mois)</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.12.l3"> A l'issu de l'obtention de mon diplôme, j'ai décider d'effectuer une formation de 57 jours pour appréhender le metier de developpeur Fullstack, dans l'optique de faire monter mes compétences en informatique.
                            La formation proposait du contenu allant du langage UML, de la programmation en backend (JAVA) avec les design pattern,
                            l'utilisation des frameworks JEE, l'architecture SOA et systèmes de gestion de bases de données tels qu'Oracle
                            et MySQL, du frontend avec le langage HTML, CSS et Javascript, et la technologie Angular.
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="adaming">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.7">
            Ingenieur logiciel
        </span>
        <div class="hovercard12">
            <div class="hovercard-container12">
                <div class="hovercard-box12">									
                    <div class="hovercard-body12">
                        <span class="cvposte" jhiTranslate="CV.13.l1">Ingénieur étude et développement logiciel</span><br>
                        <span class="cvent" jhiTranslate="CV.13.l2">Groupe ADAMING (Mission pour le compte de Sopra Steria) - Rodez (12)</span><br>
                        <span class="cvdat" jhiTranslate="CV.13.l3">Depuis Janvier 2020</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.13.l4"> Mission au sein d'un centre TMA (Tierce Maintenance Applicative) dans le milieu bancaire, mes tâches consistent principalement en la maintenance et l'évolution des applications en place au sein de la Société générale</span><br>
                        <br>
                        <span class="cvsstitre" jhiTranslate="CV.taches">Tâches réalisées :</span><br>
                      
                        <span class="cvtex" jhiTranslate="CV.13.l5">Retro documentation et création de documentation applications</span><br>
                        <span class="cvtex" jhiTranslate="CV.13.l6">Réalisation de tests techniques, d’évolutions et correctifs logiciel</span><br>
                        <span class="cvtex" jhiTranslate="CV.13.l7">Chiffrage d'évolution</span><br>
                        
                        <br>
                 <!--       <span class="cvsstitre" jhiTranslate="CV.commentaires">Commentaire :</span><br>
                        <span class="cvtex" jhiTranslate="CV.13.l8">Au cours de cette expérience, j'ai pu me former au language COBOL et au Job Control Language (JCL). Cela a également été l'occasion de travailler sur des interfaces homme-machine en JAVA.
                           J'ai donc pu appréhender de manière professionnelle le monde de l'informatique dans un cadre de méthode AGILE, dans un secteur ou le respect des specifications clients et des delais est primordial. -->
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="inconnue1">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.8">
            Inconnue
        </span>
        <div class="hovercard13">
            <div class="hovercard-container13">
                <div class="hovercard-box13">									
                    <div class="hovercard-body13">
                        <span class="cvposte" jhiTranslate="CV.ADN.1">Paire de bases inconnue</span><br>
                        <span class="cvdat" jhiTranslate="CV.ADN.2">Dés que possible</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.ADN.3">Les nucléotides ne sont pas encore connus. Je suis à la recherche d'une entreprise avec laquelle continuer le séquençage de mon CV.</span><br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="inconnue2">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.8">
            Inconnue
        </span>
        <div class="hovercard14">
            <div class="hovercard-container14">
                <div class="hovercard-box14">									
                    <div class="hovercard-body14">
                        <span class="cvposte" jhiTranslate="CV.ADN.1">Paire de bases inconnue</span><br>
                        <span class="cvdat" jhiTranslate="CV.ADN.2">Dés que possible</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.ADN.3">Les nucléotides ne sont pas encore connus. Je suis à la recherche d'une entreprise avec laquelle continuer le séquençage de mon CV.</span><br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>

<diV class="centrer">
<div class="inconnue3">
    <span class="person person-text">
        <span class="name" jhiTranslate="CV.ADN.8">
            Inconnue
        </span>
        <div class="hovercard13">
            <div class="hovercard-container13">
                <div class="hovercard-box13">									
                    <div class="hovercard-body13">
                        <span class="cvposte" jhiTranslate="CV.ADN.1">Paire de bases inconnue</span><br>
                        <span class="cvdat" jhiTranslate="CV.ADN.2">Dés que possible</span><br><br>
                        
                        <span class="cvsstitre">Description : </span><br>
                        <span class="cvtex" jhiTranslate="CV.ADN.3">Les nucléotides ne sont pas encore connus. Je suis à la recherche d'une entreprise avec laquelle continuer le séquençage de mon CV.</span><br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </span>
</div>
</div>
</div>



<div class="conteneur">
    <div class="row">
    <div class="col-3">     
    <a  class="test" routerLink="/">
        <img src="../../content/images/micropipette 1 Vert.png" width="100px">
        <img src="../../content/images/micropipette 2 Vert.png" width="100px">
    </a>
    <p class="centrer" jhiTranslate="global.menu.home">Acceuil</p>
    </div>
    <div class="col-3">
    <a class="test" [routerLink]="['/cv']">
        <img src="../../content/images/micropipette 1 Jaune.png" width="100px">
        <img src="../../content/images/micropipette 2 Jaune.png" width="100px">
    </a>
    <p class="centrer" jhiTranslate="CV.titrecv">CV</p>
    </div>
    <div class="col-3">
    <a class="test" [routerLink]="['/competences']">
        <img src="../../content/images/micropipette 1 Rouge.png" width="100px">
        <img src="../../content/images/micropipette 2 Rouge.png" width="100px">
    </a>
    <p class="centrer" jhiTranslate="global.menu.competences">Compétences</p>
    </div>
    <div class="col-3">
    <a href="#" class="test" [routerLink]="['/contact']">
        <img src="../../content/images/micropipette 1 Bleu.png" width="100px">
        <img src="../../content/images/micropipette 2 Bleu.png" width="100px">
    </a>
    <p class="centrer" jhiTranslate="global.menu.contact">Contact</p>
    </div>
    </div>


                                    <br><br><br>
                                   

                                






