<div class="col-md-9">
    <h2 class="titrepage" jhiTranslate="contact.contact">Contact</h2>
</div>    
<br><br>

<div class="centrer">
    <h3 class="titrepara3" jhiTranslate="contact.coordonées">mes coordonées</h3>
</div>

<div class="cadre1">
    <div class="centrer">
<span class="texte">Kilian HENRY</span>
<br>
<span class="texte">26 ans</span>
<br>
<span class="texte">E-mail :</span>
<a class="texte" href="mailto:kilian.henry.pro@gmail.com">kilian.henry.pro@gmail.com</a>
<br>
<span class="texte">Téléphone : 06.18.18.07.59</span>
<br>
<span class="texte">Residence Saint-eloi</span>
<br>
<span class="texte">Bâtiment F</span>
<br>
<span class="texte">12000 Rodez</span>
</div>
</div>
<br><br>


<div class="centrer">
    <h3 class="titrepara3" jhiTranslate="contact.form">Formulaire de contact</h3>
</div>
<iframe allowTransparency="true" style="min-height:800px; height:inherit; overflow:auto;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="//www.123formbuilder.com/my-contact-form-5571046.html">
    <p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p>
    </iframe>


    

    <div class="conteneur">
        <div class="row">
        <div class="col-3">     
        <a  class="test" routerLink="/">
            <img src="../../content/images/micropipette 1 Vert.png" width="100px">
            <img src="../../content/images/micropipette 2 Vert.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="global.menu.home">Acceuil</p>
        </div>
        <div class="col-3">
        <a class="test" [routerLink]="['/cv']">
            <img src="../../content/images/micropipette 1 Jaune.png" width="100px">
            <img src="../../content/images/micropipette 2 Jaune.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="CV.titrecv">CV</p>
        </div>
        <div class="col-3">
        <a class="test" [routerLink]="['/competences']">
            <img src="../../content/images/micropipette 1 Rouge.png" width="100px">
            <img src="../../content/images/micropipette 2 Rouge.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="global.menu.competences">Compétences</p>
        </div>
        <div class="col-3">
        <a href="#" class="test" [routerLink]="['/contact']">
            <img src="../../content/images/micropipette 1 Bleu.png" width="100px">
            <img src="../../content/images/micropipette 2 Bleu.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="global.menu.contact">Contact</p>
        </div>
        </div>
        </div>
        <br><br>