.cadrecomp{
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 20px;
  height:1500px;
  max-height: 2000px;
  }

.titrecomp{
  font-weight: bold;
  font-size: 35px;
}

.textecomp1{
  font-size: 20px;
  text-align: justify;
  font-weight: bold;}

.textecomp2{
      font-size: 20px;
      text-align: justify;
        }

.mongo1 {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/Mongobasics.png') no-repeat center top;
    background-size: contain;
  }
  .mongo2 {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/mongojava.png') no-repeat center top;
    background-size: contain;
  }
  .ibm1 {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/ibmbigdata.png') no-repeat center top;
    background-size: contain;
  }
  .ibm2 {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/ibmkafka.png') no-repeat center top;
    background-size: contain;
  }
  .rsph {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/rsph.png') no-repeat center top;
    background-size: contain;
  }
  .toeic {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/toeic.png') no-repeat center top;
    background-size: contain;
  }

  .iaalogo {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/blelogo.png') no-repeat center top;
    background-size: contain;
  }
  
  .biologo {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/biologo2.png') no-repeat center top;
    background-size: contain;
  }
  
  .inflogo {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/proglogo2.png') no-repeat center top;
    background-size: contain;
  }
  
  .rdlogo {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: url('../../content/images/rdogo2.png') no-repeat center top;
    background-size: contain;
  }