<div class="col-md-9">
    <h2 class="titrepage" jhiTranslate="competences.titrecomp">Mes compétences et Certifications</h2>
</div>   

<div class="centrer">
    <h3 class="titrepara3" jhiTranslate="competences.competences">Mes compétences</h3>
    <br>
  <!-- Pas de liste organisée car impossible de traduire--> 
        <div class="row">
        <div class="col-md-3">
        <div class="cadrecomp">
            <p class="titrecomp" jhiTranslate="competences.agroalimentaire">Agroalimentaire</p>
            <span class="iaalogo"></span>
            <br>
            <span class="textecomp1" jhiTranslate="competences.1.l1">Transformation de produits</span> 
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l2">Laitiers (fromages, glace et crême glacée, beurre, crême...)</span>                   
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l3">Cidricoles (jus de pommes, cidre, Calvados)</span> 
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l4">Sucrées (Confiture et gelée, chocolats)</span> 
            <br>
            <span class="textecomp1" jhiTranslate="competences.1.l5"> Genie industriel</span>
            <br>    
            <span class="textecomp2" jhiTranslate="competences.1.l6">Utilisation de matériel echelle laboratoire et pilote
                            (échangeur tubulaire, boule de concentration, autoclave, tour d'atomisation...)</span>
            <br>            
            <span class="textecomp2" jhiTranslate="competences.1.l7">Connaissance de différentes "opérations unitaires" </span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l8">Maintenance de niveau 1</span>               
            <br>
            <span class="textecomp1" jhiTranslate="competences.1.l9"> Analyses</span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l10">Microbiologiques</span> 
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l11">Physico-chimiques</span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l12">Sensorielles</span>              
            <br>
            <span class="textecomp1" jhiTranslate="competences.1.l13"> Normes et qualité</span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l14">Connaissance du "paquet Hygiène" </span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l15">Normes ISO 9001 </span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l16">Méthode HACCP</span>  
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l17">Guide des Bonnes Pratiques d'Hygiène</span>
            <br>
            <span class="textecomp2" jhiTranslate="competences.1.l18">Système de traçabilité et procédure de retrait/rappel</span>               
                    
                 
            
        </div>
        </div>
        <div class="col-md-3">
        <div class="cadrecomp">
            <p class="titrecomp" jhiTranslate="competences.biologie">Biologie</p>
            <span class="biologo"></span>
            <br>
                <span class="textecomp1" jhiTranslate="competences.2.l1" >Biologie moléculaire</span>
                <br>                        
                <span class="textecomp2" jhiTranslate="competences.2.l2">Réaction en chaine par polymerase (PCR)</span>
                <br>       
                <span class="textecomp2" jhiTranslate="competences.2.l3">Design d'amorces</span>   
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l4">Extraction et purification d'ADN </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l5">Clonage</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l6">Transformation cellulaire</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l7">CRISPR-Cas9</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l8">Electrophorèse sur gel d'agarose</span>
                        <br>
                    
                 
                <span class="textecomp1" jhiTranslate="competences.2.l9">Bioinformatique</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.2.l10">Biostatistiques (Logiciel R)</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l11">Utilisation de logiciels de génomique (Clustal, Snapgene, Seaview...)</span> 
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l12">Analyse de resultats (BioEdit, Graphpad Prism...)</span>     
                        <br>        
                    
                 
                <span class="textecomp1" jhiTranslate="competences.2.l13">Microbiologie</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.2.l14">Culture de microorganismes</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l15">Culture cellulaire</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l16">Denombrement</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.2.l17">Identification de microorganismes</span> 
                        <br>         
                    
                 
                <span class="textecomp1" jhiTranslate="competences.2.l18">Biologie végétale</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.2.l19">Culture in vitro</span>   
                        <br>         
                    
                 
                <span class="textecomp1" jhiTranslate="competences.2.l20">Enzymologie</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.2.l21">Utilisation de bio reacteur</span>    
                        <br>        
                    
            
        </div>
        </div>
        <div class="col-md-3">
        <div class="cadrecomp">
            <p class="titrecomp" jhiTranslate="competences.informatique">Informatique</p>
            <span class="inflogo"></span>
            <br>
                <span class="textecomp1" jhiTranslate="competences.3.l1">Langages/technologies informatique</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.3.l2">Langage R </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l3">Java/JEE </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l4">Cobol Mainframe </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l5">Job control language (JCL) </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l6">Angular </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l7">HTML </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l8">CSS </span>
                        <br>
                        <span class="textecomp2" > - GITHUB</span>
                        <br>
                    
                 
                <span class="textecomp1" jhiTranslate="competences.3.l9">Gestion de base de données</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.3.l10">MySQL </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l11">Oracle </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l12">MongoDB</span> 
                        <br>            
                    
                 
                <span class="textecomp1" jhiTranslate="competences.3.l13">Logiciels de retouche photographique</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.3.l14">Photofiltre 7 </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l15">Adobe Photoshop CS6</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l16">Paint Shop pro</span>   
                        <br>       
                    
                 
                <span class="textecomp1" jhiTranslate="competences.3.l17">Logiciels de montage video</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.3.l18">Corel Video Studio</span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.3.l19">Adobe Premiere Pro CS6</span>      
                        <br>       
                    
                 
                <span class="textecomp1" jhiTranslate="competences.3.l20">Logiciels de bureatique</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.3.l21">Pack office (Word, Excel, Powerpoint, Visio)</span> 
                        <br>           
                    
                    <span class="textecomp1" jhiTranslate="competences.3.l22">Pratique de pilotage</span>
                    <br>
                        
                            <span class="textecomp2" jhiTranslate="competences.3.l23">Méthode AGILE</span> 
                            <br>           
                        
            
        </div>
        </div>
        <div class="col-md-3">
        <div class="cadrecomp">
            <p class="titrecomp" jhiTranslate="competences.r&d">Recherche et developpement</p>
            <span class="rdlogo"></span>
            <br>
                <span class="textecomp1" jhiTranslate="competences.4.l1">Méthodes d'analyses en laboratoire</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.4.l2">Spectrométrie </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l3">Spectrophotométrie </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l4">Chromatographies </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l5">ELISA </span>
                        <br>
                    
                 
                <span class="textecomp1" jhiTranslate="competences.4.l6">Methodologie de travail</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.4.l7">Formulation de produits alimentaires </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l8">Mise au point de plan d'experience</span> 
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l9">Optimisation de protocole de laboratoire </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l10">Réalisation de recherches bibliographiques </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l11">Rédaction d'un cahier de laboratoire</span> 
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l12">Réalisation de poster scientifique</span>
                        <br> 
                        <span class="textecomp2" jhiTranslate="competences.4.l13">Retrodocumentation</span>   
                        <br>  
                        <span class="textecomp2" jhiTranslate="competences.4.l14">Création de support de formation </span>
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l15">Connaissance des bonnes pratiques de laboratoire</span>  
                        <br>  
                    
                 
                <span class="textecomp1" jhiTranslate="competences.4.l6">Compétences annexes</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.4.l17">Gestion de projet</span>  
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l18">Management</span>  
                        <br>
                        <span class="textecomp2" jhiTranslate="competences.4.l19">Marketing et économie</span>   
                        <br>
                    
                 
                <span class="textecomp1" jhiTranslate="competences.4.l20">Langue</span>
                <br>
                    
                        <span class="textecomp2" jhiTranslate="competences.4.l21">Anglaise : Lu, écrite et parlé (courant et scientifique)</span>
           
                    
                 
            
        </div>
        </div>
    </div>
  
<!-- </div> --> 

<br><br>

<div class="centrer">
    <h3 class="titrepara3" jhiTranslate="competences.certif">Mes certifications</h3>
    <br>
    <div class="cadre1">
    <h3 class="cvposte" jhiTranslate="competences.info">En informatique :</h3>
    <br>
    <div class="row">
        <div class="col-md-3">
            <p class="bold">Mongo DB : Basics</p>
            <a href="https://university.mongodb.com/course_completion/65c43d05-2768-43ac-a954-94c9faae8a38" class="mongo1" target="_blank"></a>
        </div>
        <div class="col-md-3">
            <p class="bold">Mongo DB : for JAVA developers</p>
            <a href="https://university.mongodb.com/course_completion/83946e3d-b43b-4bf5-9709-ec2cb4a7ad6a" class="mongo2" target="_blank"></a>
        </div>
        <div class="col-md-3">
            <p class="bold">IBM : Big Data 101</p>
            <a href="https://courses.cognitiveclass.ai/certificates/61e5510ce2b64902a5f1b07bffe2aec9" class="ibm1" target="_blank"></a>
        </div>
        <div class="col-md-3">
            <p class="bold">IBM : Simplifying data pipelines with Apache Kafka</p>
            <a href="https://courses.cognitiveclass.ai/certificates/cd7113bab66c487a8a34f8d121d3bb16" class="ibm2" target="_blank"></a>
        </div>
        </div>
<h3 class="cvposte" jhiTranslate="competences.anglais">En anglais :</h3>
<br>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <p class="bold">Level 2 Award in Food Safety for Manufacturing</p>
        <a href="../../content/images/RSPHKilian.pdf" class="rsph" target="_blank"></a>
    </div>
    <div class="col-md-3">
        <p class="bold">TOEIC : Listening and Reading (950/990)</p>
        <a href="../../content/images/TOEICKilian.pdf" class="toeic" target="_blank"></a>
    </div>
    <div class="col-md-3">
    </div>
    </div>
</div>

<br><br><br><br><br><br>

<div class="conteneur">
<div class="row">
<div class="col-3">     
<a  class="test" routerLink="/">
    <img src="../../content/images/micropipette 1 Vert.png" width="100px">
    <img src="../../content/images/micropipette 2 Vert.png" width="100px">
</a>
<p class="centrer" jhiTranslate="global.menu.home">Acceuil</p>
</div>
<div class="col-3">
<a class="test" [routerLink]="['/cv']">
    <img src="../../content/images/micropipette 1 Jaune.png" width="100px">
    <img src="../../content/images/micropipette 2 Jaune.png" width="100px">
</a>
<p class="centrer" jhiTranslate="CV.titrecv">CV</p>
</div>
<div class="col-3">
<a class="test" [routerLink]="['/competences']">
    <img src="../../content/images/micropipette 1 Rouge.png" width="100px">
    <img src="../../content/images/micropipette 2 Rouge.png" width="100px">
</a>
<p class="centrer" jhiTranslate="global.menu.competences">Compétences</p>
</div>
<div class="col-3">
<a href="#" class="test" [routerLink]="['/contact']">
    <img src="../../content/images/micropipette 1 Bleu.png" width="100px">
    <img src="../../content/images/micropipette 2 Bleu.png" width="100px">
</a>
<p class="centrer" jhiTranslate="global.menu.contact">Contact</p>
</div>
</div>
</div>
<br><br>