<div>
<svg>
    <defs>
        <clipPath id="clip-00" >
              <text stroke="#000000" transform="matrix(5.086548398328022,0,0,20.67494703780562,-1459.4011649359263,-3424.179383935121) " xml:space="preserve" text-anchor="middle" font-family="Oswald" font-weight="bold" font-size="12" id="svg_3" y="186.4397" x="349.48895" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" fill="#000000" jhiTranslate="home.titre">KILIAN HENRY</text>
    </clipPath>
    </defs>
</svg>
    <div class="video-container">
      <video loop autoplay muted playsinline>
          <source src="../../content/images/Intro.mp4" type="video/mp4">
     </video>
</div>

<br><br><br><br><br><br><br><br><br><br><br>

    <div class="col-md-9">
        <h2 class="titrepage" jhiTranslate="home.acceuil">Acceuil</h2>
    </div>    
    
    <br>

    
    <div class="presperso">
        <div class="cvlogo"></div>
        <div>
        <h3 class="titrepara" jhiTranslate="home.presperso" >Présentation personnelle</h3>
    </div>
    <br><br><br>
    <div class="cadre1">
        <span class="texte" jhiTranslate="home.textperso1">Recherchant un poste d'</span>
        <span class="bold" jhiTranslate="home.textperso112">Ingenieur en Recherche et Developpement</span>
        <br>
        <span class="texte" jhiTranslate="home.textperso113">et jeune diplomé d'un Master en </span>
        <span class="bold" jhiTranslate="home.textperso2">'Nutrition et Sciences des Aliments'</span>
        <span class="texte" jhiTranslate="home.textperso3">(Parcours :</span>
        <span class="bold" jhiTranslate="home.textperso4">'Innovation en Biotechnologie Végétales, Enzymatiques et Microbiologiques'</span>
        <span class="texte" jhiTranslate="home.textperso5">), j'ai par la suite décidé de suivre</span>
        <span class="texte" jhiTranslate="home.textperso6">une formation qualifiante</span>
        <span class="bold" jhiTranslate="home.textperso7">JAVA/JEE Big Data</span>
        <span class="texte" jhiTranslate="home.textperso8">dans le but d'élargir mon champ de compétences et de mieux appréhender les outils de la </span>
        <span class="bold" jhiTranslate="home.textperso9">bioinformatique.</span>
        <span class="texte" jhiTranslate="home.textperso10">Mon cursus universitaire alliant connaissances théoriques et compétences pratiques dans des domaines pluridsciplinaires, renforcé par une experience professionnelle acquise au cours de stage et divers emplois,</span>
        <span class="texte" jhiTranslate="home.textperso11">m'ont apportés des capacités d'autonomie, de travail en équipe, d'adaptation ainsi qu'une certaine rigueur.</span>
        <br>
        <span class="texte" jhiTranslate="home.textperso12">De nature curieuse et fasciné par la science et les nouvelles technologies, (plus particulierement des domaines de la </span>
        <span class="bold" jhiTranslate="home.textperso13">biologie</span>
        <span class="texte" jhiTranslate="home.textperso14">et de l'</span>
        <span class="bold" jhiTranslate="home.textperso15">informatique</span>
        <span class="texte" jhiTranslate="home.textperso16">), je souhaite élargir mes connaissances et developper mes compétences en relevant de nouveaux defis.</span>
    </div>
    </div>


<br><br><br>

    <div class="pressite">
        <div class="pclogo"></div>
        <h3 class="titrepara2" jhiTranslate="home.pressite" >Présentation site</h3>
        <br><br><br>
        <div class="cadre1">
            <span class="texte" jhiTranslate="home.textsite1">Ce site web a été créé dans l’optique de vous présenter mon </span>
            <span class="italic" jhiTranslate="home.textsite2">Curriculum vitae </span>
            <span class="texte" jhiTranslate="home.textsite3">d’une manière plus originale permettant de s’affranchir des « contraintes » d’une présentation classique, et surtout, d’accroitre mes connaissances de manière ludique.</span>
            <span class="texte" jhiTranslate="home.textsite4">Ce site a été réalisé par l’utilisation de langage</span>
            <span class="bold" jhiTranslate="home.textsite5">HTML, CSS</span>
            <span class="texte" jhiTranslate="home.textsite6">et de la technologie</span>
            <span class="bold" jhiTranslate="home.textsite7">Angular</span>
            <span class="texte" jhiTranslate="home.textsite8">via</span>
            <span class="bold" jhiTranslate="home.textsite9">Microsoft Visual Studio Code </span>
            <span class="texte" jhiTranslate="home.textsite10">et le générateur d’application</span>
            <span class="bold" jhiTranslate="home.textsite11">JHipster.</span>

        </div>
    </div>
    <br><br><br><br><br><br>

    <div class="conteneur">
        <div class="row">
        <div class="col-3">     
        <a  class="test" routerLink="/">
            <img src="../../content/images/micropipette 1 Vert.png" width="100px">
            <img src="../../content/images/micropipette 2 Vert.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="global.menu.home">Acceuil</p>
        </div>
        <div class="col-3">
        <a class="test" [routerLink]="['/cv']">
            <img src="../../content/images/micropipette 1 Jaune.png" width="100px">
            <img src="../../content/images/micropipette 2 Jaune.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="CV.titrecv">CV</p>
        </div>
        <div class="col-3">
        <a class="test" [routerLink]="['/competences']">
            <img src="../../content/images/micropipette 1 Rouge.png" width="100px">
            <img src="../../content/images/micropipette 2 Rouge.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="global.menu.competences">Compétences</p>
        </div>
        <div class="col-3">
        <a href="#" class="test" [routerLink]="['/contact']">
            <img src="../../content/images/micropipette 1 Bleu.png" width="100px">
            <img src="../../content/images/micropipette 2 Bleu.png" width="100px">
        </a>
        <p class="centrer" jhiTranslate="global.menu.contact">Contact</p>
        </div>
        </div>
        </div>
        <br><br>


